body {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

/* Home page CSS */


/* Nav Menu Start*/
.menu {
    background-color: #666666;
    color: #FFFFFF;
    height:20%;
    border-bottom:solid thick #ffffff;
}
.menu .content {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 1.25rem;
    height: 3rem;
}
.content .left img {
    width: 4rem;
    height: 4rem;
    float: left;
    margin-top: -.5rem;
}
.content .left h1 {
    float: left;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    -webkit-font-smoothing: antialiased !important;
    font-size: 2.25rem;
    margin-top: .25rem;
}
.content .right {
    padding: .025rem;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1.10rem;
    margin: 0 auto;
}
.content .right li:first-child {
    padding-left: 0rem;
}
.content .right li {
    list-style: none;
    display: inline;
    padding: 1rem;
}
.right a {
    color: #FFFFFF;
    text-decoration: none;
}
.right a:hover {
    color: #ff4948;
}
/* Nav menu end */


/* Start Header Section */
.header {
    background-image: url("../img/header-back.jpg");
    height: 23rem;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header .content {
    text-align: center;
    color: #FFFFFF;
}

.header .content h2{
    font-size: 4rem;
    margin-top:-.5rem;
}

.header .content .line{
    border-bottom: solid thin #ff4948 !important;
    margin: 0 auto;
    width: 25%;
    margin-top:-3rem;
}


.header .content h3{
   font-family: 'Kaushan Script', cursive;
   font-size: 1.5rem;
    -webkit-font-smoothing: antialiased !important;
}

button {
  border-radius: 4px;
  color: #ffffff;
  background: #ef4343;
  padding: 18px 30px 18px 30px;
  text-decoration: none;
  border:none;
  font-size: 1.125em;
}

button:hover {
  background: #f0382b;
  text-decoration: none;
}

/* end Header Section */

/* Start Packages Section */

.packages{
    height:26rem;
    margin-top: 1rem;
}

.boxed .fa{
  color:#ff4948;

}


.content .boxed{
    text-align: center;
    border: solid thin #666666;
    border-radius: .3em;
    height:8rem;
    text-align:center;
    padding:.25rem;

}

.content .boxed h4{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    -webkit-font-smoothing: antialiased !important;
    font-size: 1.5rem;
     margin: 0 auto;

}

.content .boxed a{
     color:#000000;
     text-decoration: none;
}

.subtext .content{
    text-align: center;
    -webkit-font-smoothing: antialiased !important;
    font-weight: normal;
    font-size:1.5rem;
    color:#919191;
}

/* end Packages Section */


/*Start Footer*/


.contacts{
    background-color: #333333;
    color: #FFFFFF;
    height:35rem;
    border-top:solid thick #666666;
    text-align: center;
}


.contacts ul{
    margin-left: -2.25rem;
}

.contacts li{
    margin:1rem;
}


.contacts .connect a{
    color:#ff4948;
    -webkit-font-smoothing: antialiased !important;
}

/*end Footer*/


/* End home page */



/* Start About page */

.about{
    height:35rem;
    margin-top: 1rem;
}

.about .fa{
  color:#ff4948;
  margin-right:1rem;

}

.me h2{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    -webkit-font-smoothing: antialiased !important;
    font-size: 2.5rem;
     border-bottom: solid thin #ff4948 !important;
}

.me p{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    -webkit-font-smoothing: antialiased !important;
    font-size: 1.5rem;
}

.me a{
  color:#ff4948;
  text-decoration: none;

}

/* end About page */


/* Start Projects page */
.projects{
    height:35rem;
    margin-top: 1rem;
}

.projects .position1{
    background-image: url("../img/snapshot.png");
    height: 23rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:-1rem;
    border: solid thin #ececec !important;

}

.projects .position2{
    background-image: url("../img/karma.png");
    height: 23rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:-1rem;
    border: solid thin #ececec !important;

}


.projects .fa{
  color:#ff4948;
  margin-right:1rem;

}

.head h2{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    -webkit-font-smoothing: antialiased !important;
    font-size: 2.5rem;
     border-bottom: solid thin #ff4948 !important;
}

/* end Projects page */


@media only screen and (max-width:320px) { 
       
        .menu {
          height:30%;
        }

        .content .right li{
          font-size: 1rem;
          margin: 0 auto;
        }

        .header .content h2{
          font-size: 2rem;
        }

        .header .content .line{
           margin-top:-.5rem;
        }

        button{
           font-size: .75em;
        }

        .content .boxed h4{
          font-size: 1rem;
        }

        .subtext .content{
         font-size: .75rem;
        }

    
  }

  @media only screen and (min-width : 320px){
 
  }
 
  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px){
 
  }
 
  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px){
 
  }
 
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px){
 
  }
 
  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px){
 
  }






